
/* titoli - testi */
    .h1-sa{
        font-family: Morion;
        font-size: 1.15rem;
        line-height: 1.9rem;
        letter-spacing: 0.04em;
}
    .h2-sa{
        font-family: Morion;
        font-size: 1.65rem;
        line-height: 2rem;
        letter-spacing: 0.04em;
}
    .h3-sa{
        font-family: Morion;
        font-size: 2.4rem;
        line-height: 2.65rem;
        letter-spacing: 0.01em;
}
    .h4-sa{
        font-family: Morion;
        font-size: 3.1rem;
        line-height: 3.15rem;
        letter-spacing: 0.02em;
}
    .h5-sa{
        font-family: Morion;
        font-size: 4.7rem;
        line-height: 5.25rem;
        letter-spacing: -0.025em;
}
    /* bottoni */
    .bottone-verde{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        --tw-bg-opacity: 1;
        background-color: rgb(14 155 126 / var(--tw-bg-opacity));
        padding-left: 0.875rem;
        padding-right: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: Moderat-Bold;
        font-size: 0.9rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
}
    .bottone-verde:hover{
        --tw-bg-opacity: 1;
        background-color: rgb(39 53 131 / var(--tw-bg-opacity));
}
    .bottone-blu{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        --tw-bg-opacity: 1;
        background-color: rgb(39 53 131 / var(--tw-bg-opacity));
        padding-left: 0.875rem;
        padding-right: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: Moderat-Bold;
        font-size: 0.9rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
}
    .bottone-blu:hover{
        --tw-bg-opacity: 1;
        background-color: rgb(8 127 103 / var(--tw-bg-opacity));
}
    .bottone-bianco-trasparente{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-family: Moderat-Bold;
        font-size: 0.9rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 8px;
}
    /* homepage */
    ul.fotoGiornoTags > li{
        position: relative;
        }
    ul.fotoGiornoTags > li:not(:last-child)::after{
        content: '|';
        position: absolute;
        right: -12px;
    }
    /*swiper*/
    .swiper{ 
        --swiper-pagination-bullet-size: 22px;
        --swiper-pagination-color: white;
        --swiper-pagination-bullet-horizontal-gap: 6px; 
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-inactive-color: black;

    }
    .swiper-pagination-bullet{
        background-color: black !important;
        border: 2px solid white;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background-color: white !important;
        }
    /* ALGOLIA */
    /* mansory uk-kit classes per #hits */
    .uk-flex-top {
      align-items: flex-start;
    }
    .uk-flex-wrap-top {
      align-content: flex-start;
    }
    /*search box*/
    button.ais-SearchBox-submit svg{
      width: 25px;
      height: 25px;
    }
    button.next-button:disabled,
    button.next-button[disabled]{
      visibility: hidden;
    }
    /* filtri a scomparsa */
    /*    section#filtriAlg div.filtro:not(:first-child){
            padding-top: 30px;
        }*/
    /* slider */
    .rheostat-background{
            height: 5px;
            background-color: white;
        }
    .rheostat-progress{
            height: 5px;
            position: absolute;
            top: 0px;
            --tw-bg-opacity: 1;
            background-color: rgb(14 155 126 / var(--tw-bg-opacity));
        }
    .rheostat-handle{
            position: relative;
            z-index: 1;
            width: 24px;
            height: 24px;
            background-color: black;
            /*border: 2px solid #333;*/
            border: 3px solid;
            --tw-border-opacity: 1;
            border-color: rgb(14 155 126 / var(--tw-border-opacity));
            border-radius: 50%;
            cursor: -webkit-grab;
            cursor: grab;
        }
    .ais-RangeSlider .rheostat-handle {
            margin-left: -12px;
            top: -7px;
        }
    /*righe righello*/
    .rheostat-marker {
            margin-left: -1px;
            position: absolute;
            width: 1px;
            height: 8px;
            background-color: white;
        }
    /*data inzio fine*/
    .rheostat-value{
            color: white;
            margin-left: -22px;
            margin-top: 20px;
            font-size: 0.9rem;
            line-height: 1.25rem;
            letter-spacing: 0.01em;
            --tw-text-opacity: 1;
            color: rgb(14 155 126 / var(--tw-text-opacity));
        }
    /*data sul pallino*/
    .rheostat-tooltip{
            margin-top: -40px;
            margin-left: -12px;
            color: white;
            font-size: 0.9rem;
            line-height: 1.25rem;
            letter-spacing: 0.01em;
            
        }
    div.rheostat > div.rheostat-marker.rheostat-marker-horizontal.rheostat-marker-large:nth-of-type(2) .rheostat-value{
            color: black;
        }
    /* bottone torna su */
    #tornasu svg:not(:first-child){
        display: none;
    }
    /* Scheda start*/
    .list-hash {
        /* list-style-type: '#'; */
    }
    .list-hash li::before {
        content: '#';
        padding-right: 0.4rem;
    }
    /* zoom immagine*/
    .image {
            max-width: 100%;
            cursor: none;
        }
    .image a {
                cursor: none;
            }
    .image img {
                max-width: 100%;
                vertical-align: middle;
                z-index: 1;
            }
    .zoom {
            width: 14rem;
            height: 14rem;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
            transition: transform .25s ease, opacity 0s linear .25s, background .25s ease;
            opacity: 0;
            transform: scale(0);
            transform-origin: 50% 50%;
            overflow: hidden;
        }
    .zoom:before {
                content: '';
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: none;
            }
    .zoom.show {
                transform: scale(1);
                opacity: 1;
                transition: transform .25s ease, opacity 0s linear;
            }
    .zoom.loading {
                background: transparent;
            }
    .zoom.loading:before {
                    display: block;
                    -webkit-animation: loading .5s ease infinite alternate;
                            animation: loading .5s ease infinite alternate;
                }
    @-webkit-keyframes loading {
                    0% {
                        transform: scale(0.1);
                        box-shadow: inset 0 0 0 150px gold;
                    }
                    50% {
                        transform: scale(1);
                        box-shadow: inset 0 0 0 140px golf;
                    }
                    100% {
                        box-shadow: inset 0 0 0 0 gold;
                    }
                }
    @keyframes loading {
                    0% {
                        transform: scale(0.1);
                        box-shadow: inset 0 0 0 150px gold;
                    }
                    50% {
                        transform: scale(1);
                        box-shadow: inset 0 0 0 140px golf;
                    }
                    100% {
                        box-shadow: inset 0 0 0 0 gold;
                    }
                }
    .zoom.loading .zoom-image {
                    opacity: 0;
                }
    .zoom .zoom-image {
                position: absolute;
                left: 0;
                top: 0;
                transition: opacity .25s ease;
            }
    /* article blog -- formatta il p di CKEditor  */
    article p img{
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
}
    article h1, article h2{
        /*@extend .h3-sa; non va... */
        padding-bottom: 2rem;
        font-family: Morion;
        font-size: 2.4rem;
        line-height: 2.65rem;
        letter-spacing: 0.01em;
    }
    img.align_center, figure.align_center{
        text-align: center;
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
}
    img.align_center img, figure.align_center img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
}
    img.align_center figcaption, figure.align_center figcaption{
        margin-top: 1.75rem;
        display: block;
}
    article cite{
        margin-top: 2rem;
        display: block;
        padding-bottom: 3.5rem;
        text-align: center;
        font-family: Morion;
        font-size: 1.65rem;
        line-height: 2rem;
        letter-spacing: 0.04em;
}
    /* Top left cut corner 2.8° */
    .slanted-tl-s {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tl-s::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-2.8deg);
    }
    /* Top left cut corner 3.6° */
    .slanted-tl-sm {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    }
    .slanted-tl-sm::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-3.6deg);
    }
    /* Top left cut corner 4° */
    .slanted-tl-m {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tl-m::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    }
    /* Top left cut corner 5.2° */
    .slanted-tl-l {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tl-l::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-5.2deg);
    }
    /* Top right cut corner 2.8° */
    .slanted-tr-s {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tr-s::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(2.8deg);
    }
    /* Top right cut corner 4°*/
    .slanted-tr-m {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tr-m::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
    }
    /* Top right cut corner 5.2°*/
    .slanted-tr-l {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }
    .slanted-tr-l::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(5.2deg);
    }
    /* Home slanted split div */
    .writing-container {
        transform: skew(-8deg) translateX(-1.2rem);
        transform-origin: top left;
    }
    .unskew-container {
        transform: skew(8deg) translateX(1.2rem);
    }
    /* ! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com */
    /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
    *,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
    ::before,
::after {
  --tw-content: '';
}
    /*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
    html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Moderat-Light; /* 4 */
}
    /*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
    body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
    /*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
    hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
    /*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
    abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
    /*
Remove the default font size and weight for headings.
*/
    h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
    /*
Reset links to optimize for opt-in styling instead of opt-out.
*/
    a {
  color: inherit;
  text-decoration: inherit;
}
    /*
Add the correct font weight in Edge and Safari.
*/
    b,
strong {
  font-weight: bolder;
}
    /*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
    code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
    /*
Add the correct font size in all browsers.
*/
    small {
  font-size: 80%;
}
    /*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
    sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
    sub {
  bottom: -0.25em;
}
    sup {
  top: -0.5em;
}
    /*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
    table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
    /*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
    button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
    /*
Remove the inheritance of text transform in Edge and Firefox.
*/
    button,
select {
  text-transform: none;
}
    /*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
    button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
    /*
Use the modern Firefox focus style for all focusable elements.
*/
    :-moz-focusring {
  outline: auto;
}
    /*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
    :-moz-ui-invalid {
  box-shadow: none;
}
    /*
Add the correct vertical alignment in Chrome and Firefox.
*/
    progress {
  vertical-align: baseline;
}
    /*
Correct the cursor style of increment and decrement buttons in Safari.
*/
    ::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
    /*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
    [type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
    /*
Remove the inner padding in Chrome and Safari on macOS.
*/
    ::-webkit-search-decoration {
  -webkit-appearance: none;
}
    /*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
    ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
    /*
Add the correct display in Chrome and Safari.
*/
    summary {
  display: list-item;
}
    /*
Removes the default spacing and border for appropriate elements.
*/
    blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
    fieldset {
  margin: 0;
  padding: 0;
}
    legend {
  padding: 0;
}
    ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
    /*
Prevent resizing textareas horizontally by default.
*/
    textarea {
  resize: vertical;
}
    /*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
    input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
    input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
    /*
Set the default cursor for buttons.
*/
    button,
[role="button"] {
  cursor: pointer;
}
    /*
Make sure disabled buttons don't get the pointer cursor.
*/
    :disabled {
  cursor: default;
}
    /*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
    img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
    /*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
    img,
video {
  max-width: 100%;
  height: auto;
}
    /*
Ensure the default browser behavior of the `hidden` attribute.
*/
    [hidden] {
  display: none;
}
    [type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: #fff;
        border-color: #6b7280;
        border-width: 1px;
        border-radius: 0px;
        padding-top: 0.5rem;
        padding-right: 0.75rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
        --tw-shadow: 0 0 #0000;
}
    [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        border-color: #2563eb;
}
    input::-moz-placeholder, textarea::-moz-placeholder{
        color: #6b7280;
        opacity: 1;
}
    input:-ms-input-placeholder, textarea:-ms-input-placeholder{
        color: #6b7280;
        opacity: 1;
}
    input::placeholder,textarea::placeholder{
        color: #6b7280;
        opacity: 1;
}
    ::-webkit-datetime-edit-fields-wrapper{
        padding: 0;
}
    ::-webkit-date-and-time-value{
        min-height: 1.5em;
}
    ::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field{
        padding-top: 0;
        padding-bottom: 0;
}
    select{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.5rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
        -webkit-print-color-adjust: exact;
                color-adjust: exact;
}
    [multiple]{
        background-image: initial;
        background-position: initial;
        background-repeat: unset;
        background-size: initial;
        padding-right: 0.75rem;
        -webkit-print-color-adjust: unset;
                color-adjust: unset;
}
    [type='checkbox'],[type='radio']{
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        padding: 0;
        -webkit-print-color-adjust: exact;
                color-adjust: exact;
        display: inline-block;
        vertical-align: middle;
        background-origin: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        flex-shrink: 0;
        height: 1rem;
        width: 1rem;
        color: #2563eb;
        background-color: #fff;
        border-color: #6b7280;
        border-width: 1px;
        --tw-shadow: 0 0 #0000;
}
    [type='checkbox']{
        border-radius: 0px;
}
    [type='radio']{
        border-radius: 100%;
}
    [type='checkbox']:focus,[type='radio']:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width: 2px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
    [type='checkbox']:checked,[type='radio']:checked{
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
}
    [type='checkbox']:checked{
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
    [type='radio']:checked{
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
    [type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{
        border-color: transparent;
        background-color: currentColor;
}
    [type='checkbox']:indeterminate{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
}
    [type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{
        border-color: transparent;
        background-color: currentColor;
}
    [type='file']{
        background: unset;
        border-color: inherit;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-size: unset;
        line-height: inherit;
}
    [type='file']:focus{
        outline: 1px auto -webkit-focus-ring-color;
}
    @font-face {
		font-family: Morion-Semibold;
		src:	url('fonts/Morion-Semibold.eot'); /* IE9 Compat Modes */
		src:	url('fonts/Morion-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('fonts/Morion-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
				url('fonts/Morion-Semibold.woff') format('woff'); /* Pretty Modern Browsers */
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
    @font-face {
		font-family: Morion;
		src:	url('fonts/Morion-Regular.eot'); /* IE9 Compat Modes */
		src:	url('fonts/Morion-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('fonts/Morion-Regular.woff2') format('woff2'), /* Super Modern Browsers */
				url('fonts/Morion-Regular.woff') format('woff'); /* Pretty Modern Browsers */
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
    @font-face {
		font-family: Moderat-Bold;
		src:	url('fonts/Moderat-Bold.eot'); /* IE9 Compat Modes */
		src:	url('fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('fonts/Moderat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
				url('fonts/Moderat-Bold.woff') format('woff'); /* Pretty Modern Browsers */
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
    @font-face {
		font-family: Moderat-Light;
		src:	url('fonts/Moderat-Light.eot'); /* IE9 Compat Modes */
		src:	url('fonts/Moderat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('fonts/Moderat-Light.woff2') format('woff2'), /* Super Modern Browsers */
				url('fonts/Moderat-Light.woff') format('woff'); /* Pretty Modern Browsers */
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
    @font-face {
		font-family: Moderat;
		src:	url('fonts/Moderat-Regular.eot'); /* IE9 Compat Modes */
		src:	url('fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('fonts/Moderat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
				url('fonts/Moderat-Regular.woff') format('woff'); /* Pretty Modern Browsers */
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
    /*base rem font size*/
    html{
		font-size: 20px;
	}
    *, ::before, ::after{
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x:  ;
        --tw-pan-y:  ;
        --tw-pinch-zoom:  ;
        --tw-scroll-snap-strictness: proximity;
        --tw-ordinal:  ;
        --tw-slashed-zero:  ;
        --tw-numeric-figure:  ;
        --tw-numeric-spacing:  ;
        --tw-numeric-fraction:  ;
        --tw-ring-inset:  ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur:  ;
        --tw-brightness:  ;
        --tw-contrast:  ;
        --tw-grayscale:  ;
        --tw-hue-rotate:  ;
        --tw-invert:  ;
        --tw-saturate:  ;
        --tw-sepia:  ;
        --tw-drop-shadow:  ;
        --tw-backdrop-blur:  ;
        --tw-backdrop-brightness:  ;
        --tw-backdrop-contrast:  ;
        --tw-backdrop-grayscale:  ;
        --tw-backdrop-hue-rotate:  ;
        --tw-backdrop-invert:  ;
        --tw-backdrop-opacity:  ;
        --tw-backdrop-saturate:  ;
        --tw-backdrop-sepia:  ;
}
    .container{
        width: 100%;
}
    .\!container{
        width: 100% !important;
}
    @media (min-width: 640px){
        .container{
                max-width: 640px;
        }
        .\!container{
                max-width: 640px !important;
        }
}
    @media (min-width: 768px){
        .container{
                max-width: 768px;
        }
        .\!container{
                max-width: 768px !important;
        }
}
    @media (min-width: 1024px){
        .container{
                max-width: 1024px;
        }
        .\!container{
                max-width: 1024px !important;
        }
}
    @media (min-width: 1440px){
        .container{
                max-width: 1440px;
        }
        .\!container{
                max-width: 1440px !important;
        }
}
    @media (min-width: 1920px){
        .container{
                max-width: 1920px;
        }
        .\!container{
                max-width: 1920px !important;
        }
}
    .sr-only{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
}
    .visible{
        visibility: visible;
}
    .\!visible{
        visibility: visible !important;
}
    .invisible{
        visibility: hidden;
}
    .static{
        position: static;
}
    .fixed{
        position: fixed;
}
    .absolute{
        position: absolute;
}
    .relative{
        position: relative;
}
    .sticky{
        position: -webkit-sticky;
        position: sticky;
}
    .inset-0{
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
}
    .right-2{
        right: 0.5rem;
}
    .top-1\.5{
        top: 0.375rem;
}
    .top-1{
        top: 0.25rem;
}
    .left-2{
        left: 0.5rem;
}
    .right-0{
        right: 0px;
}
    .bottom-0{
        bottom: 0px;
}
    .top-0{
        top: 0px;
}
    .bottom-2{
        bottom: 0.5rem;
}
    .right-4{
        right: 1rem;
}
    .top-5{
        top: 1.25rem;
}
    .right-7{
        right: 1.75rem;
}
    .bottom-6{
        bottom: 1.5rem;
}
    .right-6{
        right: 1.5rem;
}
    .left-0{
        left: 0px;
}
    .top-8{
        top: 2rem;
}
    .right-12{
        right: 3rem;
}
    .top-10{
        top: 2.5rem;
}
    .right-30{
        right: 7.5rem;
}
    .top-36{
        top: 9rem;
}
    .-bottom-20{
        bottom: -5rem;
}
    .top-56{
        top: 14rem;
}
    .bottom-8{
        bottom: 2rem;
}
    .left-1\/2{
        left: 50%;
}
    .top-96{
        top: 24rem;
}
    .right-3{
        right: 0.75rem;
}
    .-bottom-30{
        bottom: -7.5rem;
}
    .top-48{
        top: 12rem;
}
    .left-1\/3{
        left: 33.333333%;
}
    .top-52{
        top: 13rem;
}
    .left-72{
        left: 18rem;
}
    .z-0{
        z-index: 0;
}
    .z-40{
        z-index: 40;
}
    .z-20{
        z-index: 20;
}
    .z-30{
        z-index: 30;
}
    .z-10{
        z-index: 10;
}
    .-z-10{
        z-index: -10;
}
    .z-50{
        z-index: 50;
}
    .mx-auto{
        margin-left: auto;
        margin-right: auto;
}
    .mx-12{
        margin-left: 3rem;
        margin-right: 3rem;
}
    .mx-4{
        margin-left: 1rem;
        margin-right: 1rem;
}
    .-mx-4{
        margin-left: -1rem;
        margin-right: -1rem;
}
    .my-2{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
}
    .mr-34{
        margin-right: 8.5rem;
}
    .ml-32{
        margin-left: 8rem;
}
    .ml-4{
        margin-left: 1rem;
}
    .mr-11{
        margin-right: 2.75rem;
}
    .mt-2{
        margin-top: 0.5rem;
}
    .ml-12{
        margin-left: 3rem;
}
    .mb-6{
        margin-bottom: 1.5rem;
}
    .mt-14{
        margin-top: 3.5rem;
}
    .mb-9{
        margin-bottom: 2.25rem;
}
    .mb-4{
        margin-bottom: 1rem;
}
    .mb-2{
        margin-bottom: 0.5rem;
}
    .mt-10{
        margin-top: 2.5rem;
}
    .ml-1{
        margin-left: 0.25rem;
}
    .mb-1{
        margin-bottom: 0.25rem;
}
    .mr-16{
        margin-right: 4rem;
}
    .mb-10{
        margin-bottom: 2.5rem;
}
    .mb-8{
        margin-bottom: 2rem;
}
    .mb-14{
        margin-bottom: 3.5rem;
}
    .mb-0{
        margin-bottom: 0px;
}
    .mr-6{
        margin-right: 1.5rem;
}
    .mr-3{
        margin-right: 0.75rem;
}
    .mt-4{
        margin-top: 1rem;
}
    .ml-auto{
        margin-left: auto;
}
    .mr-9{
        margin-right: 2.25rem;
}
    .ml-2{
        margin-left: 0.5rem;
}
    .mb-3{
        margin-bottom: 0.75rem;
}
    .mt-3{
        margin-top: 0.75rem;
}
    .ml-1\.5{
        margin-left: 0.375rem;
}
    .mt-8{
        margin-top: 2rem;
}
    .ml-3{
        margin-left: 0.75rem;
}
    .mt-16{
        margin-top: 4rem;
}
    .mt-6{
        margin-top: 1.5rem;
}
    .mt-30{
        margin-top: 7.5rem;
}
    .mb-24{
        margin-bottom: 6rem;
}
    .mt-20{
        margin-top: 5rem;
}
    .mt-1{
        margin-top: 0.25rem;
}
    .block{
        display: block;
}
    .inline-block{
        display: inline-block;
}
    .inline{
        display: inline;
}
    .flex{
        display: flex;
}
    .table{
        display: table;
}
    .grid{
        display: grid;
}
    .hidden{
        display: none;
}
    .h-fit{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
}
    .h-18{
        height: 4.5rem;
}
    .h-16{
        height: 4rem;
}
    .h-8{
        height: 2rem;
}
    .h-73{
        height: 19.2rem;
}
    .h-full{
        height: 100%;
}
    .h-1{
        height: 0.25rem;
}
    .h-0{
        height: 0px;
}
    .h-auto{
        height: auto;
}
    .h-32{
        height: 8rem;
}
    .h-6{
        height: 1.5rem;
}
    .h-12{
        height: 3rem;
}
    .h-\[33rem\]{
        height: 33rem;
}
    .h-10{
        height: 2.5rem;
}
    .h-20{
        height: 5rem;
}
    .h-screen{
        height: 100vh;
}
    .h-30{
        height: 7.5rem;
}
    .h-22{
        height: 5.5rem;
}
    .h-36{
        height: 9rem;
}
    .h-97{
        height: 28rem;
}
    .h-3\/5{
        height: 60%;
}
    .h-1\/2{
        height: 50%;
}
    .h-48{
        height: 12rem;
}
    .h-1\/4{
        height: 25%;
}
    .h-1\/3{
        height: 33.333333%;
}
    .h-56{
        height: 14rem;
}
    .max-h-60{
        max-height: 15rem;
}
    .max-h-36{
        max-height: 9rem;
}
    .max-h-72{
        max-height: 18rem;
}
    .max-h-48{
        max-height: 12rem;
}
    .max-h-44{
        max-height: 11rem;
}
    .min-h-screen{
        min-height: 100vh;
}
    .w-3\/5{
        width: 60%;
}
    .w-fit{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
}
    .w-18{
        width: 4.5rem;
}
    .w-full{
        width: 100%;
}
    .w-52{
        width: 13rem;
}
    .w-8{
        width: 2rem;
}
    .w-76{
        width: 19rem;
}
    .w-\[95\%\]{
        width: 95%;
}
    .w-73{
        width: 19.2rem;
}
    .w-1\/3{
        width: 33.333333%;
}
    .w-1\/12{
        width: 8.333333%;
}
    .w-80{
        width: 20rem;
}
    .w-3\/4{
        width: 75%;
}
    .w-6{
        width: 1.5rem;
}
    .w-12{
        width: 3rem;
}
    .w-81{
        width: 21rem;
}
    .w-10{
        width: 2.5rem;
}
    .w-82{
        width: 22rem;
}
    .w-2\/3{
        width: 66.666667%;
}
    .w-auto{
        width: auto;
}
    .w-11\/12{
        width: 91.666667%;
}
    .w-5\/6{
        width: 83.333333%;
}
    .w-16{
        width: 4rem;
}
    .w-2\/5{
        width: 40%;
}
    .max-w-screen-xl{
        max-width: 1440px;
}
    .max-w-sm{
        max-width: 24rem;
}
    .flex-initial{
        flex: 0 1 auto;
}
    .flex-auto{
        flex: 1 1 auto;
}
    .flex-shrink{
        flex-shrink: 1;
}
    .shrink-0{
        flex-shrink: 0;
}
    .shrink{
        flex-shrink: 1;
}
    .flex-grow{
        flex-grow: 1;
}
    .basis-3\/5{
        flex-basis: 60%;
}
    .basis-2\/5{
        flex-basis: 40%;
}
    .basis-1\/2{
        flex-basis: 50%;
}
    .translate-x-5\/6{
        --tw-translate-x: 83.333333%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
    .-translate-x-5\/6{
        --tw-translate-x: -83.333333%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
    .rotate-270{
        --tw-rotate: 270deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
    .transform{
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
    .cursor-col-resize{
        cursor: col-resize;
}
    .resize{
        resize: both;
}
    .list-inside{
        list-style-position: inside;
}
    .list-none{
        list-style-type: none;
}
    .list-disc{
        list-style-type: disc;
}
    .grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
}
    .grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
}
    .grid-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
}
    .flex-row{
        flex-direction: row;
}
    .flex-col{
        flex-direction: column;
}
    .items-center{
        align-items: center;
}
    .justify-end{
        justify-content: flex-end;
}
    .justify-center{
        justify-content: center;
}
    .justify-between{
        justify-content: space-between;
}
    .justify-items-end{
        justify-items: end;
}
    .gap-1{
        gap: 0.25rem;
}
    .gap-4{
        gap: 1rem;
}
    .gap-x-0{
        -moz-column-gap: 0px;
             column-gap: 0px;
}
    .gap-x-4{
        -moz-column-gap: 1rem;
             column-gap: 1rem;
}
    .overflow-hidden{
        overflow: hidden;
}
    .overflow-visible{
        overflow: visible;
}
    .overflow-y-auto{
        overflow-y: auto;
}
    .truncate{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
    .rounded-full{
        border-radius: 9999px;
}
    .border{
        border-width: 1px;
}
    .border-8{
        border-width: 8px;
}
    .border-t-2{
        border-top-width: 2px;
}
    .border-l{
        border-left-width: 1px;
}
    .border-t{
        border-top-width: 1px;
}
    .border-r{
        border-right-width: 1px;
}
    .border-b-2{
        border-bottom-width: 2px;
}
    .border-white{
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
    .border-blu-scuro-sa{
        --tw-border-opacity: 1;
        border-color: rgb(45 63 89 / var(--tw-border-opacity));
}
    .border-blu-sa-700{
        --tw-border-opacity: 1;
        border-color: rgb(39 58 72 / var(--tw-border-opacity));
}
    .border-blu-sa-500{
        --tw-border-opacity: 1;
        border-color: rgb(39 53 131 / var(--tw-border-opacity));
}
    .border-black{
        --tw-border-opacity: 1;
        border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
    .border-verde-sa{
        --tw-border-opacity: 1;
        border-color: rgb(14 155 126 / var(--tw-border-opacity));
}
    .bg-black\/80{
        background-color: rgb(0 0 0 / 0.8);
}
    .bg-white{
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
    .bg-black{
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
    .bg-verde-sa{
        --tw-bg-opacity: 1;
        background-color: rgb(14 155 126 / var(--tw-bg-opacity));
}
    .bg-neutral-100{
        --tw-bg-opacity: 1;
        background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
    .bg-black\/60{
        background-color: rgb(0 0 0 / 0.6);
}
    .bg-blu-sa{
        --tw-bg-opacity: 1;
        background-color: rgb(39 53 131 / var(--tw-bg-opacity));
}
    .bg-blu-sa-100{
        --tw-bg-opacity: 1;
        background-color: rgb(119 133 214 / var(--tw-bg-opacity));
}
    .bg-blu-sa-500{
        --tw-bg-opacity: 1;
        background-color: rgb(39 53 131 / var(--tw-bg-opacity));
}
    .bg-opacity-40{
        --tw-bg-opacity: 0.4;
}
    .fill-verde-sa{
        fill: #0E9B7E;
}
    .fill-white{
        fill: #fff;
}
    .stroke-current{
        stroke: currentColor;
}
    .stroke-black{
        stroke: #000;
}
    .object-cover{
        -o-object-fit: cover;
           object-fit: cover;
}
    .p-3{
        padding: 0.75rem;
}
    .p-2\.5{
        padding: 0.625rem;
}
    .p-2{
        padding: 0.5rem;
}
    .p-1{
        padding: 0.25rem;
}
    .p-4{
        padding: 1rem;
}
    .px-12{
        padding-left: 3rem;
        padding-right: 3rem;
}
    .py-18{
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
}
    .py-36{
        padding-top: 9rem;
        padding-bottom: 9rem;
}
    .py-10{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
}
    .px-16{
        padding-left: 4rem;
        padding-right: 4rem;
}
    .py-4{
        padding-top: 1rem;
        padding-bottom: 1rem;
}
    .px-10{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
}
    .py-3{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}
    .px-3{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
}
    .px-6{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
}
    .py-8{
        padding-top: 2rem;
        padding-bottom: 2rem;
}
    .py-0{
        padding-top: 0px;
        padding-bottom: 0px;
}
    .px-4{
        padding-left: 1rem;
        padding-right: 1rem;
}
    .py-2{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
}
    .px-1{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
}
    .py-1{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
}
    .pb-44{
        padding-bottom: 11rem;
}
    .pt-1{
        padding-top: 0.25rem;
}
    .pl-12{
        padding-left: 3rem;
}
    .pt-12{
        padding-top: 3rem;
}
    .pb-5{
        padding-bottom: 1.25rem;
}
    .pt-7{
        padding-top: 1.75rem;
}
    .pt-20{
        padding-top: 5rem;
}
    .pb-14{
        padding-bottom: 3.5rem;
}
    .pt-16{
        padding-top: 4rem;
}
    .pb-32{
        padding-bottom: 8rem;
}
    .pb-16{
        padding-bottom: 4rem;
}
    .pb-9{
        padding-bottom: 2.25rem;
}
    .pt-18{
        padding-top: 4.5rem;
}
    .pb-29{
        padding-bottom: 7.25rem;
}
    .pl-8{
        padding-left: 2rem;
}
    .pt-10{
        padding-top: 2.5rem;
}
    .pb-18{
        padding-bottom: 4.5rem;
}
    .pb-26{
        padding-bottom: 6.5rem;
}
    .pl-22{
        padding-left: 5.5rem;
}
    .pb-46{
        padding-bottom: 11.5rem;
}
    .pb-3{
        padding-bottom: 0.75rem;
}
    .pb-8{
        padding-bottom: 2rem;
}
    .pl-3{
        padding-left: 0.75rem;
}
    .pb-0{
        padding-bottom: 0px;
}
    .pt-4{
        padding-top: 1rem;
}
    .pt-2{
        padding-top: 0.5rem;
}
    .pt-14{
        padding-top: 3.5rem;
}
    .pr-20{
        padding-right: 5rem;
}
    .pl-2{
        padding-left: 0.5rem;
}
    .pb-6{
        padding-bottom: 1.5rem;
}
    .pb-12{
        padding-bottom: 3rem;
}
    .pl-13{
        padding-left: 3.25rem;
}
    .pt-2\.5{
        padding-top: 0.625rem;
}
    .pb-24{
        padding-bottom: 6rem;
}
    .pt-5{
        padding-top: 1.25rem;
}
    .pl-1{
        padding-left: 0.25rem;
}
    .pr-0{
        padding-right: 0px;
}
    .pr-4{
        padding-right: 1rem;
}
    .pr-5{
        padding-right: 1.25rem;
}
    .pt-6{
        padding-top: 1.5rem;
}
    .pb-1{
        padding-bottom: 0.25rem;
}
    .pr-6{
        padding-right: 1.5rem;
}
    .pt-0{
        padding-top: 0px;
}
    .pl-6{
        padding-left: 1.5rem;
}
    .pr-12{
        padding-right: 3rem;
}
    .pr-28{
        padding-right: 7rem;
}
    .pl-10{
        padding-left: 2.5rem;
}
    .pr-3{
        padding-right: 0.75rem;
}
    .pb-20{
        padding-bottom: 5rem;
}
    .pr-32{
        padding-right: 8rem;
}
    .pt-52{
        padding-top: 13rem;
}
    .pl-30{
        padding-left: 7.5rem;
}
    .pl-16{
        padding-left: 4rem;
}
    .pr-14{
        padding-right: 3.5rem;
}
    .pr-8{
        padding-right: 2rem;
}
    .pb-10{
        padding-bottom: 2.5rem;
}
    .pr-9{
        padding-right: 2.25rem;
}
    .pt-44{
        padding-top: 11rem;
}
    .pl-14{
        padding-left: 3.5rem;
}
    .pl-28{
        padding-left: 7rem;
}
    .pb-36{
        padding-bottom: 9rem;
}
    .pt-40{
        padding-top: 10rem;
}
    .text-left{
        text-align: left;
}
    .text-center{
        text-align: center;
}
    .text-right{
        text-align: right;
}
    .font-serif{
        font-family: Morion;
}
    .font-sansBold{
        font-family: Moderat-Bold;
}
    .text-base{
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.01em;
}
    .text-sm{
        font-size: 0.9rem;
        line-height: 1.25rem;
        letter-spacing: 0.01em;
}
    .text-h2{
        font-size: 1.65rem;
}
    .text-5xlb{
        font-size: 2.8rem;
        line-height: 3.2rem;
}
    .text-xxs{
        font-size: .65rem;
}
    .text-h1{
        font-size: 1.15rem;
        line-height: 1.75rem;
        letter-spacing: 0.015em;
}
    .text-xs{
        font-size: 0.75rem;
        line-height: 1rem;
}
    .text-3xl{
        font-size: 1.875rem;
        line-height: 2.25rem;
}
    .font-bold{
        font-weight: 700;
}
    .uppercase{
        text-transform: uppercase;
}
    .lowercase{
        text-transform: lowercase;
}
    .italic{
        font-style: italic;
}
    .tracking-tight{
        letter-spacing: -0.025em;
}
    .tracking-0{
        letter-spacing: 0em;
}
    .tracking-wide{
        letter-spacing: 0.025em;
}
    .text-white{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
}
    .text-verde-sa{
        --tw-text-opacity: 1;
        color: rgb(14 155 126 / var(--tw-text-opacity));
}
    .text-gray-800{
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
}
    .text-blu-sa-700{
        --tw-text-opacity: 1;
        color: rgb(39 58 72 / var(--tw-text-opacity));
}
    .text-blu-sa{
        --tw-text-opacity: 1;
        color: rgb(39 53 131 / var(--tw-text-opacity));
}
    .text-blu-scuro-sa{
        --tw-text-opacity: 1;
        color: rgb(45 63 89 / var(--tw-text-opacity));
}
    .text-black{
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
}
    .underline{
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
}
    .decoration-4{
        text-decoration-thickness: 4px;
}
    .underline-offset-2{
        text-underline-offset: 2px;
}
    .underline-offset-8{
        text-underline-offset: 8px;
}
    .underline-offset-18{
        text-underline-offset: 18px;
}
    .underline-offset-4{
        text-underline-offset: 4px;
}
    .antialiased{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
    .opacity-0{
        opacity: 0;
}
    .opacity-100{
        opacity: 1;
}
    .opacity-20{
        opacity: 0.2;
}
    .opacity-80{
        opacity: 0.8;
}
    .opacity-75{
        opacity: 0.75;
}
    .blur-xs{
        --tw-blur: blur(1px);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .blur{
        --tw-blur: blur(8px);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .grayscale{
        --tw-grayscale: grayscale(100%);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .invert{
        --tw-invert: invert(100%);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .sepia{
        --tw-sepia: sepia(100%);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .filter{
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
    .\!filter{
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}
    .transition-all{
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
}
    .transition{
        transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
}
    .duration-300{
        transition-duration: 300ms;
}
    [x-cloak] { display: none !important; }
    .before\:-z-10::before{
        content: var(--tw-content);
        z-index: -10;
}
    .hover\:rotate-90:hover{
        --tw-rotate: 90deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
    .hover\:border-white:hover{
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
    .hover\:border-verde-sa:hover{
        --tw-border-opacity: 1;
        border-color: rgb(14 155 126 / var(--tw-border-opacity));
}
    .hover\:bg-verde-sa:hover{
        --tw-bg-opacity: 1;
        background-color: rgb(14 155 126 / var(--tw-bg-opacity));
}
    .hover\:fill-verde-sa:hover{
        fill: #0E9B7E;
}
    .hover\:fill-white:hover{
        fill: #fff;
}
    .hover\:text-white:hover{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
}
    .hover\:text-verde-sa:hover{
        --tw-text-opacity: 1;
        color: rgb(14 155 126 / var(--tw-text-opacity));
}
    .hover\:underline:hover{
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
}
    .hover\:opacity-70:hover{
        opacity: 0.7;
}
    .hover\:opacity-100:hover{
        opacity: 1;
}
    @media (min-width: 768px){
        .md\:visible{
                visibility: visible;
        }
        .md\:invisible{
                visibility: hidden;
        }
        .md\:absolute{
                position: absolute;
        }
        .md\:mb-0{
                margin-bottom: 0px;
        }
        .md\:hidden{
                display: none;
        }
        .md\:h-97{
                height: 28rem;
        }
        .md\:h-auto{
                height: auto;
        }
        .md\:h-0{
                height: 0px;
        }
        .md\:w-1\/5{
                width: 20%;
        }
        .md\:w-3\/5{
                width: 60%;
        }
        .md\:w-99{
                width: 45rem;
        }
        .md\:px-0{
                padding-left: 0px;
                padding-right: 0px;
        }
        .md\:pb-16{
                padding-bottom: 4rem;
        }
        .md\:text-8xl{
                font-size: 5.5rem;
                line-height: 1.1em;
        }
}
    @media (min-width: 1024px){
        .lg\:mb-4{
                margin-bottom: 1rem;
        }
        .lg\:ml-8{
                margin-left: 2rem;
        }
        .lg\:px-56{
                padding-left: 14rem;
                padding-right: 14rem;
        }
        .lg\:pt-3{
                padding-top: 0.75rem;
        }
        .lg\:pb-2{
                padding-bottom: 0.5rem;
        }
        .lg\:text-4xl{
                font-size: 2rem;
        }
}
    @media (min-width: 1920px){
        .\32xl\:left-96{
                left: 24rem;
        }
        .\32xl\:max-w-screen-2xl{
                max-width: 1920px;
        }
        .\32xl\:basis-auto{
                flex-basis: auto;
        }
        .\32xl\:px-72{
                padding-left: 18rem;
                padding-right: 18rem;
        }
        .\32xl\:pl-24{
                padding-left: 6rem;
        }
        .\32xl\:text-h6{
                font-size: 5rem;
                line-height: 6rem;
        }
        .\32xl\:text-h1{
                font-size: 1.15rem;
                line-height: 1.75rem;
                letter-spacing: 0.015em;
        }
}
