
/* titoli - testi */
    .h1-sa {
      @apply text-h1 leading-tightest-sa tracking-04 font-serif;
    }
    .h2-sa {
      @apply text-h2 leading-tight-sa tracking-04 font-serif;
    }
    .h3-sa {
      @apply text-h3 leading-snug-sa tracking-01 font-serif;
    }
    .h4-sa {
      @apply text-h4 leading-relaxed-sa tracking-02 font-serif;
    }
    .h5-sa {
      @apply text-h5 leading-loose-sa tracking-tight font-serif;
    }

/* bottoni */
    .bottone-verde {
      @apply uppercase text-white bg-verde-sa w-fit px-3.5 py-3 text-sm font-sansBold tracking-widest hover:bg-blu-sa transition;
    }
    .bottone-blu {
      @apply uppercase text-white bg-blu-sa w-fit px-3.5 py-3 text-sm font-sansBold tracking-widest hover:bg-verde-sa-600 transition;
    }
    .bottone-bianco-trasparente {
      @apply uppercase text-white w-fit text-sm font-sansBold tracking-widest underline decoration-4 underline-offset-8;
    }

/* homepage */
    
    ul.fotoGiornoTags > li{
        position: relative;
        }
    ul.fotoGiornoTags > li:not(:last-child)::after{
        content: '|';
        position: absolute;
        right: -12px;
    }

    /*swiper*/
    .swiper{ 
        --swiper-pagination-bullet-size: 22px;
        --swiper-pagination-color: white;
        --swiper-pagination-bullet-horizontal-gap: 6px; 
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-inactive-color: black;

    }
    .swiper-pagination-bullet{
        background-color: black !important;
        border: 2px solid white;
        &.swiper-pagination-bullet-active{
            background-color: white !important;
        }
    }





/* ALGOLIA */
    /* mansory uk-kit classes per #hits */
    .uk-flex-top {
      align-items: flex-start;
    }
    .uk-flex-wrap-top {
      align-content: flex-start;
    }

    /*search box*/
    button.ais-SearchBox-submit svg{
      width: 25px;
      height: 25px;
    } 

    button.next-button:disabled,
    button.next-button[disabled]{
      visibility: hidden;
    }

    /* filtri a scomparsa */
    /*    section#filtriAlg div.filtro:not(:first-child){
            padding-top: 30px;
        }*/

    /* slider */
        .rheostat-background{
            height: 5px;
            background-color: white;
        }
        .rheostat-progress{
            height: 5px;
            position: absolute;
            top: 0px;
            @apply bg-verde-sa;
        }
        .rheostat-handle{
            position: relative;
            z-index: 1;
            width: 24px;
            height: 24px;
            background-color: black;
            /*border: 2px solid #333;*/
            border: 3px solid;
            @apply border-verde-sa;
            border-radius: 50%;
            cursor: -webkit-grab;
            cursor: grab;
        }
        .ais-RangeSlider .rheostat-handle {
            margin-left: -12px;
            top: -7px;
        }
        /*righe righello*/
        .rheostat-marker {
            margin-left: -1px;
            position: absolute;
            width: 1px;
            height: 8px;
            background-color: white;
        }
        /*data inzio fine*/
        .rheostat-value{
            color: white;
            margin-left: -22px;
            margin-top: 20px;
            @apply text-sm text-verde-sa;
        }
        /*data sul pallino*/
        .rheostat-tooltip{
            margin-top: -40px;
            margin-left: -12px;
            color: white;
            @apply text-sm;
            
        }
        div.rheostat > div.rheostat-marker.rheostat-marker-horizontal.rheostat-marker-large:nth-of-type(2) .rheostat-value{
            color: black;
        }

    /* bottone torna su */
    #tornasu svg:not(:first-child){
        display: none;
    }

/* Scheda start*/

    .list-hash {
        /* list-style-type: '#'; */
    }

    .list-hash li::before {
        content: '#';
        padding-right: 0.4rem;
    }

    /* zoom immagine*/
        .image {
          max-width: 100%;
          cursor: none;
        }
        .image a {
          cursor: none;
        }
        .image img {
          max-width: 100%;
        }
        .zoom {
          width: 14rem;
          height: 14rem;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          pointer-events: none;
          transition: opacity 0s linear .25s, -webkit-transform .25s ease;
          transition: transform .25s ease, opacity 0s linear .25s;
          transition: transform .25s ease, opacity 0s linear .25s, -webkit-transform .25s ease;
          opacity: 0;
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          overflow: hidden;
        }
        .zoom.show {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
          transition: opacity 0s linear, -webkit-transform .25s ease;
          transition: transform .25s ease, opacity 0s linear;
          transition: transform .25s ease, opacity 0s linear, -webkit-transform .25s ease;
        }
        .zoom .zoom-image {
          position: absolute;
          left: 0;
          top: 0;
        }
        
        /*
        .image {
            max-width: 100%;
            cursor: none;
            
            a {
                cursor: none;
            }
            
            img {
                max-width: 100%;
                vertical-align: middle;
                z-index: 1;
            }
        }

        .zoom {
            width: 14rem;
            height: 14rem;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
            transition: transform .25s ease, opacity 0s linear .25s, background .25s ease;
            opacity: 0;
            transform: scale(0);
            transform-origin: 50% 50%;
            overflow: hidden;
            
            &:before {
                content: '';
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: none;
            }
            
            &.show {
                transform: scale(1);
                opacity: 1;
                transition: transform .25s ease, opacity 0s linear;
            }
            
            &.loading {
                background: transparent;
                
                &:before {
                    display: block;
                    animation: loading .5s ease infinite alternate;
                }
                
                @keyframes loading {
                    0% {
                        transform: scale(0.1);
                        box-shadow: inset 0 0 0 150px gold;
                    }
                    50% {
                        transform: scale(1);
                        box-shadow: inset 0 0 0 140px golf;
                    }
                    100% {
                        box-shadow: inset 0 0 0 0 gold;
                    }
                }
                
                .zoom-image {
                    opacity: 0;
                }
            }
            
            .zoom-image {
                position: absolute;
                left: 0;
                top: 0;
                transition: opacity .25s ease;
            }
        }*/

/* article blog -- formatta il p di CKEditor  */
    
    article p img{
        @apply mt-18 mb-14;
    }
    article h1, article h2{
        /*@extend .h3-sa; non va... */
        @apply text-h3 leading-snug-sa tracking-01 font-serif pb-8;
    }

    img.align_center,
    figure.align_center{
        @apply text-center;
        @apply mt-18 mb-14;
        img {
            @apply block text-center mx-auto;
        }
        figcaption{
            @apply block mt-7;
        }
    }

    article cite{
        @apply block h2-sa text-center mt-8 pb-14 font-serif;
    }

    

    
