
/* titoli - testi */
    .h1-sa {
      @apply text-h1 leading-tightest-sa tracking-04 font-serif;
    }
    .h2-sa {
      @apply text-h2 leading-tight-sa tracking-04 font-serif;
    }
    .h3-sa {
      @apply text-h3 leading-snug-sa tracking-01 font-serif;
    }
    .h4-sa {
      @apply text-h4 leading-relaxed-sa tracking-02 font-serif;
    }
    .h5-sa {
      @apply text-h5 leading-loose-sa tracking-tight font-serif;
    }

/* bottoni */
    .bottone-verde {
      @apply uppercase text-white bg-verde-sa w-fit px-3.5 py-3 text-sm font-sansBold tracking-widest hover:bg-blu-sa transition;
    }
    .bottone-blu {
      @apply uppercase text-white bg-blu-sa w-fit px-3.5 py-3 text-sm font-sansBold tracking-widest hover:bg-verde-sa-600 transition;
    }
    .bottone-bianco-trasparente {
      @apply uppercase text-white w-fit text-sm font-sansBold tracking-widest underline decoration-4 underline-offset-8;
    }

/* homepage */
    
    ul.fotoGiornoTags > li{
        position: relative;
        }
    ul.fotoGiornoTags > li:not(:last-child)::after{
        content: '|';
        position: absolute;
        right: -12px;
    }

    /*swiper*/
    .swiper{ 
        --swiper-pagination-bullet-size: 22px;
        --swiper-pagination-color: white;
        --swiper-pagination-bullet-horizontal-gap: 6px; 
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-inactive-color: black;

    }
    .swiper-pagination-bullet{
        background-color: black !important;
        border: 2px solid white;
        &.swiper-pagination-bullet-active{
            background-color: white !important;
        }
    }





/* ALGOLIA */
    /* mansory uk-kit classes per #hits */
    .uk-flex-top {
      align-items: flex-start;
    }
    .uk-flex-wrap-top {
      align-content: flex-start;
    }
    .uk-animation-fade {
      animation-name: uk-fade;
      animation-duration: 0.8s;
      animation-timing-function: linear;
    }


    /*search box*/
    button.ais-SearchBox-submit svg{
      width: 25px;
      height: 25px;
    } 

    button.next-button:disabled,
    button.next-button[disabled]{
      visibility: hidden;
    }

    /* filtri a scomparsa */
    /*    section#filtriAlg div.filtro:not(:first-child){
            padding-top: 30px;
        }*/

    /* slider */
        .rheostat-background{
            height: 5px;
            background-color: white;
        }
        .rheostat-progress{
            height: 5px;
            position: absolute;
            top: 0px;
            @apply bg-verde-sa;
        }
        .rheostat-handle{
            position: relative;
            z-index: 1;
            width: 24px;
            height: 24px;
            background-color: black;
            /*border: 2px solid #333;*/
            border: 3px solid;
            @apply border-verde-sa;
            border-radius: 50%;
            cursor: -webkit-grab;
            cursor: grab;
        }
        .ais-RangeSlider .rheostat-handle {
            margin-left: -12px;
            top: -7px;
        }
        /*righe righello*/
        .rheostat-marker {
            margin-left: -1px;
            position: absolute;
            width: 1px;
            height: 8px;
            background-color: white;
        }
        /*data inzio fine*/
        .rheostat-value{
            color: white;
            margin-left: -22px;
            margin-top: 20px;
            @apply text-sm text-verde-sa;
        }
        /*data sul pallino*/
        .rheostat-tooltip{
            margin-top: -40px;
            margin-left: -12px;
            color: white;
            @apply text-sm;
            
        }
        div.rheostat > div.rheostat-marker.rheostat-marker-horizontal.rheostat-marker-large:nth-of-type(2) .rheostat-value{
            color: black;
        }

    /* bottone torna su */
    #tornasu svg:not(:first-child){
        display: none;
    }

/* Scheda start*/

    .list-hash {
        /* list-style-type: '#'; */
    }

    .list-hash li::before {
        content: '#';
        padding-right: 0.4rem;
    }

    /* zoom immagine*/
        
        .magnify > .magnify-lens { /* overrides 200px */
          width: 280px !important;
          height: 280px !important;
        }


/* article blog -- formatta il p di CKEditor  */
    
    article p img{
        @apply mt-18 mb-14;
    }
    article h1, article h2{
        /*@extend .h3-sa; non va... */
        @apply text-h3 leading-snug-sa tracking-01 font-serif pb-8;
    }

    img.align_center,
    figure.align_center{
        @apply text-center;
        @apply mt-18 mb-14;
        img {
            @apply block text-center mx-auto;
        }
        figcaption{
            @apply block mt-7;
        }
    }

    article cite{
        @apply block h2-sa text-center mt-8 pb-14 font-serif;
    }

    

    
