    /* Top left cut corner 2.8° */
    .slanted-tl-s {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tl-s::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-2.8deg);
    }

    /* Top left cut corner 3.6° */
    .slanted-tl-sm {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    }

    .slanted-tl-sm::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-3.6deg);
    }

    /* Top left cut corner 4° */
    .slanted-tl-m {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tl-m::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    }

    /* Top left cut corner 5.2° */
    .slanted-tl-l {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tl-l::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-5.2deg);
    }

    /* Top right cut corner 2.8° */

    .slanted-tr-s {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tr-s::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(2.8deg);
    }

    /* Top right cut corner 4°*/

    .slanted-tr-m {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tr-m::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
    }

    /* Top right cut corner 5.2°*/

    .slanted-tr-l {
	position: relative;
	width: 100%;
    box-sizing: border-box;
    }

    .slanted-tr-l::before {
    content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(5.2deg);
    }

